<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>
		<link rel="stylesheet" href="{$basePath}/assets/css/all.min.css" media="screen">
		<link rel="shortcut icon" href="">
	</head>
	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		{include #content}
	</body>
</html>
